*{
 
    padding: 0;
    margin: 0;
    font-family: "Inter";

    box-sizing: border-box;
    
}

.header{

    color:white;
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0px 12%;
    flex-grow: 0;

    justify-content: space-around;



}

 .navbar{

    margin: 30px 0 63px;
    align-items: center;
    display: flex;
    justify-content: space-between;



}


.navbar .logo{

    font-size: 24px;
    font-weight: 800;
    


}


.navbar-content{

    display: flex;
    gap: 28px;
    cursor: pointer;
    color: #E5E7EB;

}

.header-content{

    display: flex;
    gap:85px;
    margin-bottom: 60px;
    justify-content: space-between;

}


.h-left{

    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;


}

.awesome{

    font-size: 32px;
    font-weight: bolder;
    color: #f9faf8;


}

.left-info{


font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #E5E7EB;



}

.left-button{
    /* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 131px;
height: 42px;

background: #3882F6;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Sign up */


font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;




}

